h1 {
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.principal {
    margin: auto;
    padding: 4rem;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(97, 204, 106);

}